<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
    <h1>This is the page to create a new event</h1>
   <form action="/events" method="POST">
        Enter Your Event Title: <input type="text" name="title"/><br/>
        Enter the location: <input type="text" name="location" placeholder="Please include city and state"/><br/>
        What is the date?: <input type="date" name="date"/><br/>
        Meeting Point: <input type="text" name="findUs"/> <br/>
        <button type="submit">Create Your Event</button>

    </body>
</html>