<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/css/new.css" rel="stylesheet">
    </head>
    <body>
        <div class="background"></div>
        <%- include('../partials/navBar.ejs')%>

        <main class="hosting-event-container">
            <h1>Host an Event:</h1>
            <form action="/events" method="POST">

                <div class="containers-for-questions">
                    <p>What is your event called?</p>
                    <input type="text" name="title"/>
                </div>

                <div class="containers-for-questions">
                    <p>Where is the location of the event?</p>
                    <input type="text" name="location" placeholder="Please include city and state"/>
                </div>

                <div class="containers-for-questions">
                    <p>When is the event?</p>
                    <input type="date" name="date"/>
                </div>

                <div class="containers-for-questions">
                    <p>Where should we meet?</p>
                    <input type="text" name="findUs"/>
                </div>

                <div class="containers-for-questions">
                    <p>Description for the event:</p>
                    <input type="text" name="description"/>
                </div>

                <div class="submit-button">
                    <button type="submit">
                    Create Your Event
                    </button>
                </div>
        </main>

    </body>
</html>