        <footer>
            <div class="social-media">
                <p>Follow us on..</p>
                <div class="social-media-icons">
                    <img src="https://i.imgur.com/gMwUZbN.png" height="42" width="42">
                    <img src="https://i.imgur.com/7iooHpM.png" height="42" width="42">
                    <img src="https://i.imgur.com/ZoAgdie.png" height="42" width="42">
                    <img src="https://i.imgur.com/BPrJU6X.png" height="42" width="42">
                    <img src="https://i.imgur.com/HSsKbwM.png" height="42" width="42">
                    <img src="https://i.imgur.com/xlwGC49.png" height="42" width="42">
                </div>
            </div>
            <div class="subscribe">
                <p class="subscribe-text"> Receive updates on upcoming events:</p>
                <input type="email" name="email" placeholder="email">
                <button class="subscribe-button" type="submit">subscribe</button>
            </div>
            <div class="trademark">All Rights Reserved © Californature</div>
        </footer>