
<div id="nav-bar-container">
    <nav>
        <div class="nav-bar grow"><a href="/events">home</a></div>
        <div class="nav-bar grow"><a href="/user/<%=user._id%>">profile</a></div>
        <div class="nav-bar grow"><a href="/">logout</a></div>
    </nav>
 </div>