<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
        <link rel="stylesheet" href="/css/login.css">
    </head>
    <body>
    <div class="background"></div>
        <div class="login-container">
            <h1>Login</h1>
            <hr>
            <form action="/auth/login" method="POST">
            <div class="username-container">
                <input type="email" name="email" placeholder="email">
            </div>
            <div class="password-container">
                <input type="password" name="password" placeholder="password">
            </div>
            <button type="submit">&#8594</button>
            </form> 
            <div>
            <p>Haven't registered yet?  We would love to have you!</p>
            <a href="/auth/register">Register</a>
        </div>
        </div>
        
    </body>
</html>