<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One" rel="stylesheet">
        <link rel="stylesheet" href="/css/register.css">
    </head>
    <body>
        <section class="background"></section>
        <div id="register-container">
           <h1>Getting Started</h1>
           <hr>
            <form action="/auth/register" method="POST">
            <input type="text" name="name" placeholder="name" id="name-input" require/>
            <p style='color: red; text-align: center'><%=session.emailMessage%></p>
            <input type="email" name="email" placeholder="email" id="email-input" require/>
            <input type="password" name="password" placeholder="password" id="password-input"require/>
            <button type="submit">sign up</button>
        </form>
        <div id="text-box">
        <hr>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
    </body>
</html>