* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Didact Gothic', sans-serif;
}
.background {
    height: 100vh;
    background-image: url(../img/park.jpeg);
    background-size: cover;
    background-position: center;
    filter: blur(4px);
}
.parent-header {
     width: 500px;
    height: 27%;
    background: rgba(0, 0, 0, 0.35);
    top: 27%;
    left: 36%;
    position: absolute;
    justify-content: center;
    text-align: center;
    line-height: 5rem;
    letter-spacing: 15px;
    border-radius: 10px;
    color: rgba(245, 245, 245, .8);
}
h1 {
    font-size: 300%;
    color: white;
}
button {
    width: 50%;
    height: 20%;
    color: white;
    font-size: 22px;
    letter-spacing: 12px;
    display: block;
    position: absolute;
    left: 136px;
    background-color: rgba(255, 255, 255, 0.199);
    border-radius: 22px;
}
.login-button {
    top: 66%;
    left: 27%;
}
.sign-up-button {
    top: 39%;
    left: 27%;
}
button:hover {
    background-color: white;
    cursor: pointer;
    color: grey;
}
button:focus {
    outline:0;
}