* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Didact Gothic', sans-serif;
}
.background {
    height: 100vh;
    background-image: url(../img/park.jpeg);
    background-size: cover;
    background-position: center;
    filter: blur(4px);
}
.parent-header {
    width: 44%;
    height: 74%;
    background: rgba(0, 0, 0, 0.35);
    top: 7%;
    left: 29%;
    position: absolute;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    color: rgba(245, 245, 245, .8);
}
h1 {
    line-height: 5rem;
    font-size: 229%;
    color: white;
    letter-spacing: 15px;
}
p {
    width: 93%;
    height: 11%;
    position: absolute;
    top: 23%;
    left: 2%;
}
button {
    width: 50%;
    height: 11%;
    color: white;
    font-size: 22px;
    letter-spacing: 5px;
    display: block;
    position: absolute;
    left: 136px;
    background-color: rgba(255, 255, 255, 0.199);
    border-radius: 22px;
}
.login-button {
    top: 69%;
    left: 25%;
}
.sign-up-button {
    top: 54%;
    left: 25%;
}
button:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.39);
    color: white;
}
button:focus {
    outline:0;
}