* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.background {
  height: 100vh;
  background-image: url(../img/park.jpeg);
  background-size: cover;
  background-position: center;
  filter: blur(4px);
}
input {
  font-size: 100%;
  padding: 15px;
  margin: 10px;
  width: 76%;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.11);
  color: white;
}
h1 {
  letter-spacing: 6px;
  margin-left: 25px;
  margin-bottom: 25px;
  font-size: 250%;
  color: white;
}
hr {
  position: absolute;
  top: 29%;
  left: 3%;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 48%;
  width: 17%;
}
button {
  border-radius: 8px;
  position: absolute;
  top: 103%;
  left: 2%;
  width: 29%;
  height: 21%;
  font-size: 34px;
  background-color: rgba(255, 255, 255, 0.11);
  color: white;
  text-align: center;
}
.login-container {
  position: absolute;
  top: 39%;
  left: 40%;
  transform: translate(-50%, -50%);
  width: 42%;
}
button,
input:focus {
  outline: 0;
}
button:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.39);
  color: white;
}
::placeholder {
  color: white;
  opacity: 1;
}
.havent-registered {
  position: absolute;
  top: 60%;
  left: 20%;
  color: white;
}
a {
  text-decoration: none;
  color: rgb(252, 252, 252);
  font-size: 1.2em;
  background-color: rgba(255, 255, 255, 0.24);
  padding: 2%;
  border-radius: 10px;
}
p {
  margin-bottom: 3%;
}