<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet">
        <link rel="stylesheet" href="/css/home.css">
    </head>
    <body>
        <div id="parent-container">
            <h1>californature</h1>
            <div class="line"></div>
            <h2 class="login">login</h2>
            <h2 class="sign-up">sign-up</h2>
        </div>
    </body>
</html>