<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://fonts.googleapis.com/css?family=Didact+Gothic"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Julius+Sans+One"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <div class="background"></div>
    <header class="parent-header">
      <h1>californature</h1>
      <hr />
      <a href="/auth/register"
        ><button class="sign-up-button">sign up</button></a
      >
      <br />
      <a href="/auth/login"><button class="login-button">login</button></a>
      <br />
      <p>
        Bringing people together for the love of California Nature
      </p>
    </header>
  </body>
</html>
