<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet">
        <link rel="stylesheet" href="/css/home.css">
    </head>
    <body>
        <div class="background"></div>
        <header class="parent-header">
            <h1>californature</h1>
            <h2>sign-up</h2>
            <h2>login</h2>
    </header>
    </body>
</html>