<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
    <h1>This is the index page to list all users</h1>
    <h2>All users</h2>
    <ul>
    <% for (let i = 0; i < user.length; i++) {%>
    <li>
        <a href="/user/<%=user[i]._id%>"><%=user[i].name%></a>
    </li>
    <%}%>
    </ul>
    </body>
</html>
