<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/register.css">
    </head>
    <body>
        <div id="register-container">
           <h1>register</h1>
            <form action="/user" method="POST">
            <input type="text" name="name" placeholder="name"/><br/>
            <input type="text" name="email" placeholder="email"/><br/>
            <input type="text" name="password" placeholder="password"/><br/>
            <button type="submit">Create Account!</button>
        </form>
        </div>
        <div id="text-box">Odio cum aliquet himenaeos accumsan ornare netus duis sit dignissim sollicitudin convallis habitant.
</div>
    </body>
</html>