<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
    <h1>This is the user show page</h1>
    <section>
    <h3>User's Information</h3>
    <ul>
        <li>Name: <%=user.name%></li>
        <li>Email: <%=user.email%></li>
    </ul>
    </section>
    <section>
    <a href="/user/<%=user._id%>/edit">Edit Account</a>
    </body>
</html>